*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#0f172a;

    position:sticky;
    top:0;
    z-index:1000;
}

.logo{

    font-size:28px;
    color:white;
    font-weight:bold;
}

.nav-links{

    display:flex;
    list-style:none;
    gap:35px;
}

.nav-links a{

    color:white;
    text-decoration:none;
    font-size:18px;
    transition:.3s;
}

.nav-links a:hover{

    color:#38bdf8;
}